doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello there
        link(rel="stylesheet", href="/css/pagination.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body 
        div.wrap
            form(action="/logout", method="get") 
                a Hello #{username}
                br
                button(type="submit" href='/logout') Logout 
                br
                a(href="/status")
                    button(type="button") Status page
            form(action="/", method="get") 
                label(for="searchUser") Search Users
                br
                input#searchUser(type="searchUser", name="searchUser", value=searchholder)
                br
                button(type="submit") submit
                if role_flg == constant.adminRole
                    a.btn(href='/user/create') Add user
            // Tabble
            if userLists.length
                H User Lists
                    table(width='100%', cellspacing='1', cellpadding='1', border='1', bgcolor='#F2F2F2')
                        thead
                            tr
                                th Username
                                th Name
                                th Birth Day
                                th 
                        tbody
                        each accounts in userLists
                            tr
                                td #{accounts.username}
                                td #{accounts.name}
                                td #{accounts.birthday}
                                if role_flg == constant.adminRole
                                    td
                                        form.delete(action="/user/delete/" + `${accounts.username}`, method='POST')
                                            button(type='submit' class='fa fa-trash' onClick="return confirm('Are you sure to delete?')").butn
                                        a.butn(class='fa fa-pencil' href="/user/edit/" + `${accounts.username}`)
                                else if username == accounts.username
                                    td
                                        a.butn(class='fa fa-pencil' href="/user/edit/" + `${accounts.username}`)
                                else 
                                    td
                if pages != 1
                    div.pagination
                        ul
                            // First Button
                            if current == 1
                                a.disabled First
                            else 
                                if searchUser == null
                                    a(href='/?page=' + 1) First
                                else
                                    a(href='/?searchUser='+ `${searchUser}` + '&page=' + 1 ) First
                        
                            // Prievious Button
                            if current > 1
                                if searchUser == null
                                    a(href='/?page=' +`${parseInt(current) - 1}`) Previous
                                else 
                                    a(href='/?searchUser='+ `${searchUser}` + '&page=' +`${parseInt(current) - 1}`) Previous
                        
                            // Number Button
                            - var i = 1
                            while i <= pages 
                                if searchUser == null
                                    if current == i 
                                        a.active= i++
                                    else 
                                        a(href='/?page='+`${i}`)= i++
                                else 
                                    if current == i 
                                        a.active= i++ 
                                    else 
                                        a(href='/?searchUser='+ `${searchUser}` + '&page=' +`${i}`)= i++
                        
                            // Next Button
                            if current < pages
                                if searchUser == null
                                    a(href='/?page=' +`${parseInt(current) + 1}`) Next
                                else 
                                    a(href='/?searchUser='+ `${searchUser}` + '&page=' +`${parseInt(current) + 1}`) Next
                        
                            // Last button
                            if current == pages 
                                a.disabled Last
                            else 
                                if searchUser == null
                                    a(href='/?page=' + `${pages}`) Last
                                else 
                                    a(href='/?searchUser='+ `${searchUser}` + '&page=' + `${pages}` ) Last
            else
                a No list user found
